<div class="row">
<div class="text-center">Dashboard</div>
<div class="col-md-4">
<h3 class="text-center">
My Books <%=link_to "New Book",new_book_path,class: "btn btn-primary btn-sm"%>
</h3>
<%= render "books" %>
</div>
<div class="col-md-4">
<h3 class="text-center">
Purchased</h3>
<%= render "purchased" %>

</div>
<div class="col-md-4">
<h3 class="text-center">
</h3>
Sales
<%= render "sales" %>
</div>
</div>